<div class="container">

	<div class="row" >

		<table class="table responsiveTable" st-table="workouts" st-pipe="callServer">

			<thead>
			    <tr>
			      <th>#</th>
			      <th>Day</th>
			      <th>Start</th>
			      <th>End</th>
			      <th>Total</th>
			      <th>Group(s) name(s)</th>
			      <th></th>
			      <th></th>
			    </tr>
	    	</thead>

	    	<tbody ng-repeat="workout in workouts track by $index">

	    		<tr data-toggle="collapse" data-target="#wk{{workout.id}}" class="accordion-toggle collapsed" style="cursor:pointer;">
	    			<td>{{ workout.id }}</td>
	    			<td>{{ workout.start | date }}</td>
	    			<td>{{ workout.start | date: "h:mm a" }}</td>
	    			<td>{{ workout.end | date: "h:mm a" }}</td>
	    			<td>{{ trainingTotalTime(workout) }}</td>
	    			<td>{{ groupNames(workout,$index); }}</td>
	    			<td>
	    				<a href="#/workout/edit/{{workout.id}}" class="btn btn-primary btn-xs">
              				<span class="glyphicon glyphicon-pencil" title="Edit Workout"></span>
            			</a>
	    			</td>
	    			<td>
	    				<a href="#/workout/delete/{{workout.id}}" class="btn btn-danger btn-xs delete-record" ng-click="actions.delete($event)" data-toggle="modal" data-target="#myModal" data-deleteurl="">
              				<span class="glyphicon glyphicon-trash" title="Eliminar Workout"></span>
            			</a>
	    			</td>
	    		</tr>

	    		<tr>
	    			<td colspan="8" class="hiddenRow">

	    				<div id="wk{{workout.id}}" class="accordian-body collapse" collapse-workout>

	    					<div class="row">

	    						<div class="" 
	    							ng-repeat="group in workout.groups track by $index"
	    							ng-class="{ 'col-md-8 col-md-offset-2':workout.groups.length == 1 , 'col-md-6':workout.groups.length > 1 }">

	    							<h3>{{ group.name }}</h3>

	    							<!--
	    							<a href="#/workout/create" class="btn btn-default"> 
        								<span class="icon-new" title="new user">Edit</span>
        							</a>
        							-->

	    							<table class="table">

	    								<thead>
	    									<tr>
	    										<th>#</th>
	    										<th>id</th>
	    										<th>name</th>
	    										<th>num</th>
	    										<th>weight</th>
	    									</tr>
	    								</thead>

	    								<tbody ng-repeat="exercise in group.exercises track by $index">
	    									<tr ng-repeat="rep in exercise.repetitions track by $index">
	    										<td>{{ $index + 1 }}</td>
	    										<td>{{ rep.id }}</td>
	    										<td>{{ exercise.name }}</td>
	    										<td>{{ rep.num }}</td>
	    										<td>{{ rep.weight }} kg</td>
	    									</tr>
	    								</tbody>

	    							</table>

	    						</div>

	    						<!--
	    						<div class="col-md-6">
	    							cenas2
	    						</div>
	    						-->

	    					</div>

	    				</div>

	    			</td>
	    		</tr>

	    	</tbody>

	    	<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"> 
					</td>
				</tr>
			</tfoot>

	    </table>

	</div>

	<div class="row">
		<!--
		<pre> {{ workouts|json }} </pre>
		-->
	</div>

</div>