<div class="container">

	<div class="row" st-table="workouts">

		<table class="table table responsiveTable">

			<thead>
			    <tr>
			      <th>#</th>
			      <th>Day</th>
			      <th>Start</th>
			      <th>End</th>
			      <th>Total</th>
			      <th>Group(s) name(s)</th>
			      <th>Exercises</th>
			      <th>Repetitions</th>
			    </tr>
	    	</thead>

	    	<tbody ng-repeat="workout in workouts track by $index">

	    		<tr data-toggle="collapse" data-target="#wk{{workout.id}}" class="accordion-toggle">
	    			<td>{{ workout.id }}</td>
	    			<td>{{ workout.start | date }}</td>
	    			<td>{{ workout.start | date: "h:mm a" }}</td>
	    			<td>{{ workout.end | date: "h:mm a" }}</td>
	    			<td>{{ trainingTotalTime(workout) }}</td>
	    			<td>{{ groupNames(workout,$index); }}</td>
	    			<td>X</td>
	    			<td>{{ totalRepetitions(workout); }}</td>
	    		</tr>

	    		<tr>
	    			<td colspan="8" class="hiddenRow">

	    				<div id="wk{{workout.id}}" class="accordian-body collapse">
	    					<div class="row">

	    						<div class="col-md-6">
	    							cenas
	    						</div>

	    						<div class="col-md-6">
	    							cenas2
	    						</div>
	    						
	    					</div>
	    				</div>

	    			</td>
	    		</tr>

	    	</tbody>

	    </table>

	</div>

	<div class="row">
		<!--
		<pre> {{ workouts|json }} </pre>
		-->
	</div>

</div>