
<div class="container-fluid">

  <div class="row">

    	<div class="col-md-2">

      	<div class="list-group">

          <a href="#/exercises/group/{{group.id}}" class="list-group-item" 
            ng-repeat="group in groups track by $index"
            ng-click="actions.changeGroup(group.id)"
            ng-class="{ active: actions.isActive(group.id) }"> {{ group.name }}
          </a>
        
  			</div>

      </div>

      <div class="col-md-8" ng-if="!isGroupPage()">

        <div class="row">
          <div class="col-md-4" ng-repeat="row in groups track by $index">
            {{ row.name }}
          </div>
          <div class="col-md-4">
            cenas
          </div>
        </div>
        <pre> {{groups|json}}</pre>

      </div>


      <div class="col-md-8" ng-if="isGroupPage()">
        <pre> {{group|json}}</pre>
      </div>

      <!--
      <div class="col-md-8" content-page>
        content
      </div>
      -->

  </div>
  
  <div class="row">
  </div>

</div>

