
<div class="container-fluid">

  <div class="row">

    	<div class="col-md-2">

      	<div class="list-group">

          <a href="#/exercises/group/{{group.id}}" class="list-group-item" 
            ng-repeat="group in groups track by $index"
            ng-class="{ active: actions.isActive(group.id) }"> {{ group.name }}
          </a>
        
  			</div>

      </div>

      <div class="col-md-8" ng-show="!isGroupPage()">

        <div class="row">
          <div class="col-md-4" ng-repeat="group in groups track by $index">
            {{ group.name }}
          </div>
          <div class="col-md-4">
            cenas
          </div>
        </div>
        <!--
        <button type="button" ng-click="click();">click</button>
      	home page
        -->
        <pre> {{groups|json}}</pre>
      </div>

      <div class="col-md-8" ng-show="isGroupPage()">
        content page
      </div>

  </div>
  
  <div class="row">
  </div>

</div>

